header h1 {
    text-align: center;
}
#search {
    background: azure;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 1rem 0;
    padding: 1rem;
}
form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto 1rem;
    text-align: center;
    width: 100%;
}
form h3 {
    text-align: left;
    width: 100%;
}

form input {
    height: 2.3rem;
    width: 70%;
}

#city-search-field {
    width: 15em;
}

#country {
    width: 5em;
}

form button {
    width: 20%;
    min-width: 5rem;
    text-align: center;
}

img {
    margin: 0 auto;
    width: 100%;
}

ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

li {
    margin: 0 1rem;
    cursor: pointer;
}
#current .card {
    align-items: center;
    background: lightblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;
}

.card-title {
    text-align: center;
    width: 100%;
}

.card figure {
    background: inherit;
    margin: 0 auto;
    width: 20%;
}

#weather-figure {
    display: none;
}
.card aside {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    justify-content: center;
    width: 30%;
}

#fiveday {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.day-card {
    background: azure;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 0.25em;
    width: 90%;
}

.day-card .date {
    text-align: center;
    width: 100%;
}

.day-card .daily-icon {
    width: 40%;
}

.day-card .day-info {
    width: 40%;
}

.day-card .card-text {
    text-align: left;
}


@media (min-width: 768px) {
    form {
        width: 75%;
    }
    #fiveday {
        justify-content: space-between;
    }

    .day-card {
        width: 18%;
    }

    .day-card .daily-icon {
        width: 75%;
    }

    .day-card .day-info {
        width: 100%;
    }

    .day-card .card-text {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    form {
        width : 50%;
    }
}