*{
    box-sizing: border-box;

}

body {
    background-color: ghostwhite;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    font-weight: bold;
}
.forecast{

    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightsteelblue;
    text-decoration: underline;
}